html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 0 0 0;
}

.section {
  text-align: center;
  width: 100%;
  padding: 0;
  background-color: #ffffff;
}

.section-head {
  text-align: center;
  font-family: Open Sans;
  font-size: 2.5rem;
  font-weight: 300;
  width: 100%;
  padding: 20px 0 0 0;
}

.section-body-text {
  text-align: center;
  font-family: Open Sans;
  font-weight: 200;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}

.title-image-section {
  background-color: #000000;
  position: fixed;
  margin: 0 0 0 0;
  text-align: center;
  /*vertical-align: middle;*/
  width: 100vw;
  height: 100vh;
  display: flex;
}

.title-image {
  /*position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 auto;*/
  display: block;
  width: 2000;
  height: auto;
  max-width: 90vw;
  max-height: 100vh;
  margin: auto;
}

.title-filler-section {
  background-color: #ffffff;
  margin: 0 0 0 0;
  text-align: center;
  height: 100vh;
}

.about-section {
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  background-color: #ffffff;
  padding: 0 0 50px 0;
}

.title-logo-section {
  margin: 20px 20px 20px 20px;
  text-align: center;
  vertical-align: middle;
  flex: 0 0 auto;
}

.logo-image {
  margin: auto;
  width: 40vw;
  min-width: 260px;
  max-width: 300px;
}

.about-text-box {
  margin: 20px 20px 20px 20px;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  max-width:50vw;
  min-width:300px;
}

.about-text {
  max-width:50vw;
  margin: auto;
  font-family: Open Sans;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: justify;
}

.sliding {
  zIndex = 2;
}

.news {
  background-color: #eeeef5;
  background-size: cover;
}

.news-items {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(400px, 75%));
  overflow-y: scroll;
}

.news-item {
  text-align: left;
  margin: 10px 10px 10px 10px;
  font-family: Open Sans;
/*  font-size: 1.4rem;*/
  margin-bottom: 0.5rem;
}

.news-footer {
  text-align: center;
  font-family: Open Sans;
  width: 100%;
  padding: 0px 0 20px 0;
}

.research {
  background-color: #ffffff;
  background-size: cover;
  padding: 0; 
}

.projects {
  display: flex;
  flex-flow: row wrap; 
  padding: 20px 20px 20px 20px;
  justify-content: center;
}

.project {
  min-width: 300px;
  width: 45%;
  margin: 20px 20px 20px 20px;
  flex: 1 1 auto;
}

.project-header {
  text-transform: uppercase;
  text-align: center;
  font-family: Open Sans;
/*  font-size: 1.4rem;*/*/*/*/
  font-weight: 600;
  letter-spacing: .2rem;
  margin-bottom: 0.5rem;
}

.project-text {
  text-align: justify;
  text-justify: auto;
  font-family: Open Sans;
/*  font-size: 1.4rem;*/
  margin-bottom: 0.5rem;
}

.publications {
  display: flex;
  flex-flow: column nowrap;
}

.publication {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns:auto 32px;
  padding: 0 0 10px 0;
}

.publication-text {
  grid-column-start: 1;
  text-align: left;
  font-family: Open Sans;
}

.publication-link {
  grid-column-start: 2;
}

.people {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  background-color: #eeeef5;
  background-size: cover;
  padding: 0 0 20px 0;
}

.person {
  max-width: 600px;
  margin: 10px 20px 10px 20px;
  flex: 0 1 auto;
  font-family: Open Sans;
  display: flex;
}

.person-image {
  width: 100px;
  height: 100px;
  flex: 0 0 auto;
}

.person-name {
  text-align: left;
  font-weight:600;
}

.person-role {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  text-align: left;
  margin: 0px 10px 10px 10px;
}

.join-us {
  padding: 0;
  background-color: #ffffff;
  text-align: center
}

.links {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  background-color: #eeeef5;
  background-size: cover;
  padding: 0 0 20px 0;
}

.link {
  max-width: 600px;
  margin: 10px 10px 10px 10px;
  flex: 0 1 auto;
  font-family: Open Sans;
}

.footer {
  padding: 20px 0 20px 0;
  background-color: #ffffff;
  text-align: center;
  font-family: Open Sans;
/*  font-size: 1.4rem;*/*/*/*/
}
